

*{
    margin: 0;
    padding: 0;
 }
 html{
     font-size: 62.5%;
 }
.body{
    background-color:#202124;
}
    /*HEADER DE LA PAGINA*/  

    /* FIN DEL HEADER */  
 



    /*CONTENIDO DE LA PAGINA*/
    
    /*FIN DEL LA PAGINA*/

    


    /*FOOTER DE LA PAGINA*/

    /*FIN DEL FOOTER DE LA PAGINA*/


*{
    margin: 0;
    padding: 0;
 }
 html{
     font-size: 62.5%;
 }
.body{
    background-color:#202124;
}
    /*HEADER DE LA PAGINA*/  


header nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}
ul{
    list-style-type: none;
}
.menu li{
    display: inline;
} 
.menu li a{ 
    color: rgb(209, 209, 209);
    text-decoration: none;
    border-style: none;
    padding: 10px;
    background-color: #1414144a;
}
.menu{
   
    margin: 30px;
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #303134;
    padding:10px; 
}
 
    /* FIN DEL HEADER */  
 
    /*CONTENIDO DE LA PAGINA*/  

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
    margin: 20px 40px 20px 40px;
    background-color: rgb(51, 49, 49);
}    
.card { 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.card__price {
    color: grey;
    font-size: 22px;
}

.card__button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(32, 71, 16);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.menu--underline:hover{
    text-decoration: underline;

}
.card button:hover {
  opacity: 0.7;
}
.games_images{
    height: 300px;
    width: 300px;
    position: relative;
    transition: all 300ms;
} 
.games_images:hover{
    transform:  scale(1.15);
}   

.games{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin:20px 20px 20px 20px ;
    background-color: rgb(51, 49, 49); 
}
.games img{
    padding: 10px;
}
.section h2{
    display: flex;
}

.form{
    padding-top: 50px;
    padding-left: 100px;
}
.h2{
    margin: 12px;
}
.logo{
    display: inline;
    margin: 12px;
    height: 90px;
    width: 90px;
}
.buy{
    display: block;
    background-color: rgb(73, 71, 71);
    margin: 20px 600px;
    padding: 10px;
}
.h3{
color:#e3e4db ;
}
.h2{
    color:#e3e4db ;
}
.label{
     color:#e3e4db;
 }
    /*FOOTER DE LA PAGINA*/

.footer picture{
    display: block;
    text-align: center;
}
.footer img{
    width: 100px;
   
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #303134;
    padding: 10px;
    margin-top: 12px;
}

    /*FIN DEL FOOTER DE LA PAGINA*/

