/*LISTA DE DESEADOS*/
.games{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin:20px 20px 20px 20px ;
    background-color: rgb(51, 49, 49); 
}
.h2{
    margin: 12px;
    color:#e3e4db ;
}
.h3{
    color:#e3e4db ;
}

/*LISTA DE DESEADOS*/